* {
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
}

#slider-container {
    width: 70%;
    height: 700px;
    margin: 20px auto;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 5px solid red;
    overflow: hidden;
}

img {
    width: 100%;
    transition: all 500ms ease 0s;
}

.larr,
.rarr {
    position: absolute;
    display: block;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    top: 50%;
    margin-top: -35px;
    font-size: 60px;
    color: rgb(200, 200, 200);
    cursor: pointer;
    transition: all 200ms linear 0s;
}

.larr:hover,
.rarr:hover {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 4px rgb(130, 130, 130), -1px -1px 4px rgb(130, 130, 130);
}

.larr {
    left: 10px;
}

.rarr {
    right: 10px;
}